@model course.Models.User

@{
    ViewData["Title"] = "Детали пользователя: " + Model.Login;
}

<h1>Детали пользователя</h1>

<div>
    <h4>@Model.Login</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BlockStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BlockStatus)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUser" class="btn btn-warning">Редактировать</a> |
    <a asp-action="Index" class="btn btn-secondary">Вернуться к списку</a>
</div>
