@model course.Models.ViewModels.EventDeleteViewModel 

@{
    ViewData["Title"] = "Удалить мероприятие: " + Model.Name; // Use Model.Name for title
}

<h1>Удалить мероприятие</h1>

<h3>Вы уверены, что хотите удалить это мероприятие?</h3>
<div>
    <h4>Мероприятие</h4>
    <hr />
    <dl class="row">
        {{-- ADDED: Display Event Name --}}
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BoardGameTitle) @* Use ViewModel property for title *@
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BoardGameTitle) @* Use ViewModel property for title *@
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-9">
            @Model.Time.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LocationAddress) @* CHANGED to LocationAddress *@
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LocationAddress) @* CHANGED to LocationAddress *@
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdEvent" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Вернуться к списку</a>
    </form>
</div>