@model course.Models.Event

@{
    var boardGameTitle = ViewData["BoardGameName"] as string; // Corrected ViewData key name
    var locationAddress = ViewData["LocationAddress"] as string; // Added for Location address
    ViewData["Title"] = "Детали мероприятия: " + boardGameTitle;
}

<h1>Детали мероприятия</h1>

<div>
    <h4>Мероприятие</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            Настольная игра
        </dt>
        <dd class="col-sm-9">
            @boardGameTitle
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-9">
            @Model.Time.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-3">
            Место проведения
        </dt>
        <dd class="col-sm-9">
            @locationAddress
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEvent" class="btn btn-warning">Редактировать</a> |
    <a asp-action="Index" class="btn btn-secondary">Вернуться к списку</a>
</div>