@model IEnumerable<course.Models.Rating>
@using course.Models

@{
    ViewData["Title"] = "Оценки";
    var userNames = ViewData["UserNames"] as Dictionary<int, string>;
    var postTitles = ViewData["PostTitles"] as Dictionary<int, string>;
    var commentContents = ViewData["CommentContents"] as Dictionary<int, string>;
}

<h1>Оценки</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th>
                Относится к
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (userNames != null && userNames.ContainsKey(item.IdUser))
                    {
                        @userNames[item.IdUser]
                    }
                    else
                    {
                        <span>Неизвестный пользователь</span>
                    }
                </td>
                <td>
                    @if (item.IdPost.HasValue && postTitles != null && postTitles.ContainsKey(item.IdPost.Value))
                    {
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.IdPost">Пост: @postTitles[item.IdPost.Value]</a>
                    }
                    else if (item.IdComment.HasValue && commentContents != null && commentContents.ContainsKey(item.IdComment.Value))
                    {
                        <a asp-controller="Comments" asp-action="Details" asp-route-id="@item.IdComment">Комментарий: @commentContents[item.IdComment.Value]</a>
                    }
                    else
                    {
                        <span>Неизвестный контент</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.IdRating">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>