@model IEnumerable<course.Models.Post>
@using Microsoft.AspNetCore.Identity
@using course.Models

@{
    ViewData["Title"] = "Посты";
    var authorsDictionary = ViewData["Authors"] as Dictionary<int, string>;
}

<h1>Посты</h1>

<p>
    <a asp-action="Create">Создать новый пост</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                Автор
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @{
                        // Используем словарь для получения имени автора
                        if (authorsDictionary != null && authorsDictionary.TryGetValue(item.IdUser, out string? authorName))
                        {
                            @authorName
                        }
                        else
                        {
                            <span>Неизвестный автор</span>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPost">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPost">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPost">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>