@model course.Models.ViewModels.CommentDeleteViewModel 

@{
    ViewData["Title"] = "Удалить комментарий";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Комментарий</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle) @* Use DisplayNameFor ViewModel property *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostTitle) @* Use DisplayFor ViewModel property *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName) @* Use DisplayNameFor ViewModel property *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName) @* Use DisplayFor ViewModel property *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdComment" />
        <input type="hidden" asp-for="IdPost" /> @* Для возврата на страницу поста *@
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.IdPost">Вернуться к посту</a>
    </form>
</div>